section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 8rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .img img {
    width: 27vw;
}

.main .content h2 {
    font-size: 5.5rem;
    color: #555;
    text-transform: uppercase;

}

.main .content h2 span {
    color: var(--orange);

}

.main .content p {
    font-size: 1.8rem;
    color: #555;
    padding: 1rem 0;
}

/* Story block */

.story {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5rem;
}

.story .story-img {
    width: 60%;
    height: 33%;
}

.story .story-img img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.story .story-text {
    width: 40%;
    height: 33%;
}

.story .story-text p {
    font-family: sans-serif;
    font-size: 1.8rem;
}

/* Media Queries */
@media (max-width: 880px) {
    .main {
        flex-flow: column-reverse;
        padding-top: 7rem;
    }

    .main .img img {
        width: 80%;
    }

    .main .content h2 {
        font-size: 3rem;
    }

    .main .content p {
        font-size: 1.5rem;
    }
}
