

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 8rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .img img {
    width: 27vw;
}

.main .content h2 {
    font-size: 5.5rem;
    color: #555;
    text-transform: uppercase;

}

.main .content h2 span {
    color: var(--orange);

}

.main .content p {
    font-size: 1.8rem;
    color: #555;
    padding: 1rem 0;
}

/* Story block */

.about {
    margin-bottom: 2rem;
}

.container {
    overflow: auto;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: center;
    height: 99%;
    width: 80%;
    display: inline-block;
}

.container .story-text {
    width: 100%;
    height: 35%;
    float: left;
}

.container .story-text p {
    text-indent: 20px;
    width: 60%;
    font-family: sans-serif;
    color: black;
    font-size: 2rem;
}

.container .story-text img {
    width: 33%;
    height: 33%;
    float: right;
}

/* container 2 */
.container2 {
    overflow: auto;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: center;
    height: 99%;
    width: 80%;
    display: inline-block;

    .story-text {
        width: 100%;
        height: 35%;
        float: right;

        img {
            width: 33%;
            height: 33%;
            float: left;
            margin: 20px;
        }

        p {
            text-indent: 20px;
            width: 90%;
            font-family: sans-serif;
            color: black;
            font-size: 2rem;
        }
    }
}


/* Media Queries */
@media (max-width: 880px) {
    .main {
        flex-flow: column-reverse;
        padding-top: 7rem;
    }

    .main .img img {
        width: 80%;
    }

    .main .content h2 {
        font-size: 3rem;
    }

    .main .content p {
        font-size: 1.5rem;
    }

    .about {
        display: block;
    }
}
