body {
  background-color: rgb(223, 223, 217);

  .bootle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: block;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
  }
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;

  .product-card {
    background-color: #fff;
    border: 0.5rem solid var(--orange);
    border-radius: 4rem;
    transition: 0.5s;
    margin-right: 2rem;
    margin-bottom: 3rem;

    .content {
      margin: 0.3rem;
      align-items: center;
      justify-content: center;
      text-align: center;

      .title {
        margin-bottom: 0.6rem;
        
        h4 {
          color: #555;
        }
      }

      .describe {
        p {
          font-size: 1.2rem;
        }
      }

      .product-image {

        img {
          border-radius: 4rem;
          width: 238px;
          height: 300px;
        }
      }
    }
  }

  .product-card:hover {
    transform: translateY(-3.5rem);
  }
}

/* Media Queries */
@media (max-width: 1100px) {
  .container {
    display: block;
  }

  .product-card {
    margin: 0;
    margin-bottom: 2rem;
  }
}