header {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    font-size: 3rem;
    color: var(--orange);
    transition: 0.5s;
}

header .logo span {
    color: var(--light-orange);
}

header .logo:hover {
    transform: scale(1.2);
}

header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--orange);
    transition: 0.5s;
    cursor: pointer;
}

header .navbar a:hover {
    color: var(--light-orange);
}

header .header-checkbox {
    display: none;
}

header label {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


/* Media Queries */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1095px) {
    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: 1rem solid rgba(0,0,0,0.1);
        box-shadow: var(--box-shadow);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
    }

    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;
    }

    header input:checked ~ .navbar {
        transform: scale(1);
        opacity: 1;
    }
}

@media (maxwidth: 320px) {
    html {
        font-size: 40%;
    }
}